# Build output
bin/
obj/

# Visual Studio user files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Build logs
*.log
*.tlog

# ReSharper
_ReSharper*/
*.DotSettings.user

# Visual Studio Code
.vscode/
